{{#include_header_files}}
#include "{{header_file_name}}"
{{/include_header_files}}
#include "Engine/Utils/Public/Meta/Meta.h"

namespace yjw
{
{{#class_list}}
    const MetaClass& {{class_name}}::GetClass()
    {
        static MetaClass* instance = nullptr;
        if(!instance)
        {
            instance = new MetaClass();
            instance->SetName("{{class_name}}");
            instance->SetSize(sizeof({{class_name}}));
            instance->SetDefaultObject((void*)(new {{class_name}}()));
            {{#field_list}}
            //{{field_name}}
            {{/field_list}}
        }
        return *instance;
    }

    void {{class_name}}::Serialize(Archive& Ar)
    {
        {{#field_list}}
        Ar << {{field_name}};
        {{/field_list}}
    }
{{/class_list}}
}
